NODE RED FLOW/POWAR Node RED flow.json
[{"id":"ec597ad6.419ac8","type":"tab","label":"FULL FLOW","disabled":false,"info":""},{"id":"18da8307.3260fd","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":540,"wires":[]},{"id":"4ecffab3.0f04a4","type":"ui_gauge","z":"ec597ad6.419ac8","name":"","group":"152ed8f2.6d5b87","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperatura Ciudad","label":"Celcius","format":"{{payload.tempc}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":80,"wires":[]},{"id":"74109a44.0c6f14","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":740,"wires":[]},{"id":"57abc9d0.b42748","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":640,"wires":[]},{"id":"27fa13f8.acb07c","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/Time","qos":"","retain":"","broker":"1376561.83e0eaa","x":1160,"y":780,"wires":[]},{"id":"3ac761e.cde1c9e","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/Sunset","qos":"","retain":"","broker":"1376561.83e0eaa","x":1160,"y":680,"wires":[]},{"id":"219e0d21.6fda72","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/Sunrise","qos":"","retain":"","broker":"1376561.83e0eaa","x":1160,"y":580,"wires":[]},{"id":"b561546d.adf428","type":"change","z":"ec597ad6.419ac8","name":"SUNSET","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sunset","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":640,"wires":[["57abc9d0.b42748","3ac761e.cde1c9e"]]},{"id":"bfae7a9.b76e488","type":"change","z":"ec597ad6.419ac8","name":"SUNRISE","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sunrise","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":540,"wires":[["18da8307.3260fd","219e0d21.6fda72"]]},{"id":"c0f9ce09.eab71","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"c649eec2.4c256","type":"change","z":"ec597ad6.419ac8","name":"Temp_maxC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp_maxc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":840,"wires":[["5e03f8d1.2dca98"]]},{"id":"7b0a88a5.feb2c8","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":840,"wires":[]},{"id":"dfd7b6c5.494478","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/MaxTempC","qos":"","retain":"","broker":"1376561.83e0eaa","x":1440,"y":880,"wires":[]},{"id":"c208860d.cbbc18","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":940,"wires":[]},{"id":"4343e5d.9a8fd1c","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/MinTempC","qos":"","retain":"","broker":"1376561.83e0eaa","x":1430,"y":980,"wires":[]},{"id":"65facf48.262d4","type":"change","z":"ec597ad6.419ac8","name":"Temp_minC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp_minc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":940,"wires":[["cacf6d7.71efa9"]]},{"id":"c7b6974d.28f6b8","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":1040,"wires":[]},{"id":"9a7dde70.c930f","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/TempC","qos":"","retain":"","broker":"1376561.83e0eaa","x":1420,"y":1080,"wires":[]},{"id":"5066e21c.0aa4dc","type":"change","z":"ec597ad6.419ac8","name":"TempC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1040,"wires":[["18b3a9f7.24e056"]]},{"id":"b7f46904.263f78","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":1140,"wires":[]},{"id":"6fa38206.39b22c","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/Clouds","qos":"","retain":"","broker":"1376561.83e0eaa","x":1420,"y":1180,"wires":[]},{"id":"3d6089cb.30bd66","type":"change","z":"ec597ad6.419ac8","name":"Clouds","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.clouds.all","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1140,"wires":[["cd5e48f.1b34cb8"]]},{"id":"9b1c2db.b329ed","type":"openweathermap","z":"ec597ad6.419ac8","name":"","wtype":"current","lon":"","lat":"","city":"Santa Marta","country":"Co","language":"en","x":450,"y":1140,"wires":[["c0f9ce09.eab71","4ecffab3.0f04a4","bfae7a9.b76e488","b561546d.adf428","c649eec2.4c256","5066e21c.0aa4dc","3d6089cb.30bd66","a4254b9b.4186f8","2983a7a.d48f258","65facf48.262d4","afb38c38.2a6ec","a0502909.d2b408","34824786.a9e7b8","6c1f8717.10ccf8","85d81514.b5bb68","18f475b2.ffb78a","1fc7ad06.177ae3","2d2e9f38.b45c5"]]},{"id":"37b42e6b.0f2332","type":"inject","z":"ec597ad6.419ac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1140,"wires":[["9b1c2db.b329ed"]]},{"id":"a4254b9b.4186f8","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"location.lon","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":220,"wires":[]},{"id":"2983a7a.d48f258","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"location.lat","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":260,"wires":[]},{"id":"5325730a.2698fc","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":300,"wires":[]},{"id":"e77bb406.5c0238","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/City","qos":"","retain":"","broker":"1376561.83e0eaa","x":1150,"y":340,"wires":[]},{"id":"afb38c38.2a6ec","type":"change","z":"ec597ad6.419ac8","name":"City","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[["5325730a.2698fc","e77bb406.5c0238"]]},{"id":"7058b638.5e73b8","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":400,"wires":[]},{"id":"54b10f46.b9d27","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/Country","qos":"","retain":"","broker":"1376561.83e0eaa","x":1170,"y":440,"wires":[]},{"id":"a0502909.d2b408","type":"change","z":"ec597ad6.419ac8","name":"Country","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sys.country","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":400,"wires":[["7058b638.5e73b8","54b10f46.b9d27"]]},{"id":"8d03297d.d72ee8","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":1240,"wires":[]},{"id":"6c1f8717.10ccf8","type":"change","z":"ec597ad6.419ac8","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1240,"wires":[["62df5aae.699a54"]]},{"id":"8604bece.aabba","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/Humidity","qos":"","retain":"","broker":"1376561.83e0eaa","x":1430,"y":1280,"wires":[]},{"id":"b2a00aa3.e16438","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":1340,"wires":[]},{"id":"34824786.a9e7b8","type":"change","z":"ec597ad6.419ac8","name":"Weather","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.weather[0].main","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1340,"wires":[["b2a00aa3.e16438","3db0bf77.e7b1d"]]},{"id":"3db0bf77.e7b1d","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/Weather","qos":"","retain":"","broker":"1376561.83e0eaa","x":1170,"y":1380,"wires":[]},{"id":"1a491562.50779b","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":1440,"wires":[]},{"id":"85d81514.b5bb68","type":"change","z":"ec597ad6.419ac8","name":"W. Description","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.weather[0].description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1440,"wires":[["1a491562.50779b","5c810386.c4172c"]]},{"id":"5c810386.c4172c","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/Description","qos":"","retain":"","broker":"1376561.83e0eaa","x":1180,"y":1480,"wires":[]},{"id":"18f475b2.ffb78a","type":"change","z":"ec597ad6.419ac8","name":"Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.dt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":740,"wires":[["74109a44.0c6f14","27fa13f8.acb07c"]]},{"id":"62df5aae.699a54","type":"template","z":"ec597ad6.419ac8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}%","output":"str","x":1140,"y":1240,"wires":[["8604bece.aabba","8d03297d.d72ee8"]]},{"id":"cd5e48f.1b34cb8","type":"template","z":"ec597ad6.419ac8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}%","output":"str","x":1140,"y":1140,"wires":[["b7f46904.263f78","6fa38206.39b22c"]]},{"id":"5e03f8d1.2dca98","type":"template","z":"ec597ad6.419ac8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}C","output":"str","x":1140,"y":840,"wires":[["7b0a88a5.feb2c8","dfd7b6c5.494478"]]},{"id":"cacf6d7.71efa9","type":"template","z":"ec597ad6.419ac8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}C","output":"str","x":1140,"y":940,"wires":[["c208860d.cbbc18","4343e5d.9a8fd1c"]]},{"id":"18b3a9f7.24e056","type":"template","z":"ec597ad6.419ac8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}C","output":"str","x":1140,"y":1040,"wires":[["c7b6974d.28f6b8","9a7dde70.c930f"]]},{"id":"2e71d8b3.07b308","type":"range","z":"ec597ad6.419ac8","minin":"0","maxin":"100","minout":"100","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":1040,"y":1540,"wires":[["3c078597.1cbbaa"]]},{"id":"1fc7ad06.177ae3","type":"change","z":"ec597ad6.419ac8","name":"Light (from clouds)","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.clouds.all","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1540,"wires":[["2e71d8b3.07b308"]]},{"id":"3c078597.1cbbaa","type":"template","z":"ec597ad6.419ac8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}%","output":"str","x":1220,"y":1540,"wires":[["22fe9603.5a605a","7ea338c1.35a508"]]},{"id":"22fe9603.5a605a","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":1540,"wires":[]},{"id":"7ea338c1.35a508","type":"mqtt out","z":"ec597ad6.419ac8","name":"","topic":"POWAR/Light","qos":"","retain":"","broker":"1376561.83e0eaa","x":1420,"y":1580,"wires":[]},{"id":"4825a5aa.894c0c","type":"openweathermap","z":"ec597ad6.419ac8","name":"","wtype":"current","lon":"","lat":"","city":"Barcelona","country":"Es","language":"en","x":1560,"y":460,"wires":[["640e04.047c11fc"]]},{"id":"4cacd862.471b08","type":"inject","z":"ec597ad6.419ac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1550,"y":560,"wires":[["4825a5aa.894c0c"]]},{"id":"c9c1574b.978148","type":"debug","z":"ec597ad6.419ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":340,"wires":[]},{"id":"b0eb4139.1a218","type":"debug","z":"ec597ad6.419ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":300,"wires":[]},{"id":"640e04.047c11fc","type":"function","z":"ec597ad6.419ac8","name":"","func":"var test = msg.payload;\nWeather = {payload:test.weather};\nTempC = {payload:test.tempc};\nMaxTempC = {payload:test.temp_maxc};\nMinTempC = {payload:test.temp_minc};\nHum = {payload:test.humidity};\nLocation = {payload:test.location};\nSunrise = {payload:test.sunrise};\nSunset = {payload:test.sunset};\nTime = {payload:msg.data.dt};\nreturn [Location, Weather, Time, Sunrise, Sunset, TempC, MaxTempC, MinTempC, Hum] ;","outputs":9,"noerr":0,"initialize":"","finalize":"","x":1740,"y":460,"wires":[["b0eb4139.1a218"],["c9c1574b.978148"],["2964f142.d0a66e"],["d6df3e9f.7c238"],["bf0fde81.a9cd8"],["373b36be.a0898a"],["fb77cce6.8b49c"],["f6d3787.33ea488"],["d4da30b8.3858c"]]},{"id":"2964f142.d0a66e","type":"debug","z":"ec597ad6.419ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":380,"wires":[]},{"id":"d6df3e9f.7c238","type":"debug","z":"ec597ad6.419ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":420,"wires":[]},{"id":"bf0fde81.a9cd8","type":"debug","z":"ec597ad6.419ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":460,"wires":[]},{"id":"373b36be.a0898a","type":"debug","z":"ec597ad6.419ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":500,"wires":[]},{"id":"fb77cce6.8b49c","type":"debug","z":"ec597ad6.419ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":540,"wires":[]},{"id":"f6d3787.33ea488","type":"debug","z":"ec597ad6.419ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":580,"wires":[]},{"id":"d4da30b8.3858c","type":"debug","z":"ec597ad6.419ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2010,"y":620,"wires":[]},{"id":"65e78d5.f772874","type":"mqtt in","z":"ec597ad6.419ac8","name":"","topic":"Box/TempC","qos":"2","datatype":"auto","broker":"1376561.83e0eaa","x":1750,"y":780,"wires":[["a4ea674e.7006b8","90c1b13d.b21ad"]]},{"id":"a4ea674e.7006b8","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":780,"wires":[]},{"id":"a547d7e0.388c68","type":"mqtt in","z":"ec597ad6.419ac8","name":"","topic":"Box/Hum","qos":"2","datatype":"auto","broker":"1376561.83e0eaa","x":1740,"y":880,"wires":[["dabc43b6.492b7"]]},{"id":"dabc43b6.492b7","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":880,"wires":[]},{"id":"bc0ffe38.76173","type":"mqtt in","z":"ec597ad6.419ac8","name":"","topic":"Box/LDR","qos":"2","datatype":"auto","broker":"1376561.83e0eaa","x":1740,"y":980,"wires":[["571fa339.4ac94c","e7027e4b.7744c"]]},{"id":"571fa339.4ac94c","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":980,"wires":[]},{"id":"cd5f9c4c.d20a","type":"mqtt in","z":"ec597ad6.419ac8","name":"","topic":"Box/Tank","qos":"2","datatype":"auto","broker":"1376561.83e0eaa","x":1740,"y":1080,"wires":[["d06ad894.84eb08","7124fad4.872384"]]},{"id":"d06ad894.84eb08","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":1080,"wires":[]},{"id":"d78cf484.d6e2a8","type":"mqtt in","z":"ec597ad6.419ac8","name":"","topic":"Box/Moist","qos":"2","datatype":"auto","broker":"1376561.83e0eaa","x":1740,"y":1180,"wires":[["926fbc5a.7d379"]]},{"id":"926fbc5a.7d379","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":1180,"wires":[]},{"id":"b2b8274c.572af8","type":"mqtt in","z":"ec597ad6.419ac8","name":"","topic":"POWAR/TEAM","qos":"2","datatype":"auto","broker":"1376561.83e0eaa","x":1720,"y":1260,"wires":[["b371aa9.5a6e658","b616966.d0af168"]]},{"id":"b371aa9.5a6e658","type":"ui_text","z":"ec597ad6.419ac8","group":"fa9d9118.92eea","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1930,"y":1300,"wires":[]},{"id":"b616966.d0af168","type":"debug","z":"ec597ad6.419ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":1260,"wires":[]},{"id":"90c1b13d.b21ad","type":"ui_gauge","z":"ec597ad6.419ac8","name":"","group":"67dc2c14.15ddf4","order":1,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"Celcius","format":"{{msg.payload}}ºC","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1950,"y":820,"wires":[]},{"id":"e7027e4b.7744c","type":"ui_level","z":"ec597ad6.419ac8","group":"8c168c40.5be5","order":1,"width":0,"height":0,"name":"","label":"Room Light","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"100","segWarn":"","segHigh":"","unit":"","layout":"ph","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1930,"y":1020,"wires":[]},{"id":"7124fad4.872384","type":"ui_level","z":"ec597ad6.419ac8","group":"8c168c40.5be5","order":1,"width":0,"height":0,"name":"","label":"Room Light","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"100","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"rocket","shape":"3","colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"auto","peakmode":false,"property":"payload","peaktime":3000,"x":1930,"y":1120,"wires":[]},{"id":"1b191c16.e37654","type":"ui_ui_control","z":"ec597ad6.419ac8","name":"","events":"all","x":2210,"y":1040,"wires":[[]]},{"id":"2d2e9f38.b45c5","type":"ui_worldmap","z":"ec597ad6.419ac8","group":"90e93871.041668","order":1,"width":"6","height":"6","name":"","lat":"{{msg.location.lat}}","lon":"{{msg.location.lon}}","zoom":"12","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","allowFileDrop":"false","path":"/worldmap","x":540,"y":840,"wires":[]},{"id":"152ed8f2.6d5b87","type":"ui_group","name":"TEST","tab":"6ec09491.dba40c","order":1,"disp":true,"width":"6","collapse":false},{"id":"1376561.83e0eaa","type":"mqtt-broker","name":"","broker":"http://46.101.82.150","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fa9d9118.92eea","type":"ui_group","name":"TEAM","tab":"79efb75a.a6ced8","order":5,"disp":true,"width":"6","collapse":false},{"id":"67dc2c14.15ddf4","type":"ui_group","name":"TEMPERATURE","tab":"79efb75a.a6ced8","order":1,"disp":true,"width":"4","collapse":false},{"id":"8c168c40.5be5","type":"ui_group","name":"LIGHT","tab":"79efb75a.a6ced8","order":2,"disp":true,"width":3,"collapse":false},{"id":"90e93871.041668","type":"ui_group","name":"DESCRIPTION","tab":"79efb75a.a6ced8","order":4,"disp":true,"width":6,"collapse":false},{"id":"6ec09491.dba40c","type":"ui_tab","name":"TEST","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"79efb75a.a6ced8","type":"ui_tab","name":"EXAMPLE FLOW","icon":"dashboard","order":1,"disabled":false,"hidden":false}]